<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tech-blog-mvc</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="whole">
  <header>
    <h1>A Tech-E-ish Blog</h1>
    <button id="logout-link">Logout</button>
    <nav>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header> 
  <main>
    {{{body}}}
  </main>
  </div>
<script src="/js/logout.js"></script>
</body>

</html>
