<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Tech-E-ish Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="whole">
    <header>
      <h1>A Tech-E-ish Blog</h1>
      <nav>
        <p class="links"><a href="/">Home</a></p>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>
  <script src="/js/logout.js"></script>
</body>

</html>