        {{#each posts}}
<div id="beside">
<button id="comment">Add To</button>
<section class="home-posts">
        <div id="card-header">
            <h2>{{title}}</h2>
            <p>Here is a time stamp for that Post</p>
        </div>
        <p id="card-body">{{content}}</p>
</section>
</div>
        {{/each}}
