<section id="post-section">
<div class="card">
  <div class="card-header">
    <h1>Login</h1>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <h2>Username</h2>
      <p class="forms"><input type="text" id="username-input-login" /></p>
    </div>
    <div>
      <h2>Password</h2>
      <p class="forms"><input type="password" id="password-input-login" /></p>
    </div>
    <button type="submit" id="login-btn" class="button">Login!</button>
    <button class="button"><a href="/signup">Sign up instead</a></button>
  </form>
</div>
</section>
<script src="/js/login.js"></script>
