<section id="post-section">
<div class="card">
  <div class="card-header">
    <h1>Sign Up</h1>
  </div>
    <form id="signup-form" class="card-body">
      <div>
        <h2>Username</h2>
        <p class="forms"><input type="text" id="username-input-signup" /></p>
      </div>
      <div>
        <h2>Password</h2>
        <p class="forms"><input type="password" id="password-input-signup" /></p>
      </div>
      <button type="submit" id="signup-btn" class="button" >Signup!</button>
      <button class="button"><a href="/login">Login instead</a></button>
    </form>
</div>
</section>

<script src="/js/signup.js"></script>