:root {
    --tan: #EFF7CF;
    --lGreen: #BAD9B5;
    --mustard: #c1cd93;
    --red: #732C2C;
    --bourg: #a16e3b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #c1cd93;
    height: 100%;
}

#whole {
    margin: auto;
    width: 90%;
}

header {
    color: var(--mustard);
    background-color: var(--bourg);
    display: flex;
    justify-content:space-between;
    align-content: center;
    margin-bottom: 2%;
    border-radius: 8px;
    box-shadow: 4px 4px rgb(103, 128, 53);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

h1 {
    padding-left: 2%;
    font-family: 'Candara';
    font-size: 45px;
}

.links {
    padding: 4px 20px;
    font-size: 18px;
    color: var(--mustard);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links:hover {
    scale: 1.1;
    transition: 30ms;
}

a {
    color: var(--lGreen);
    text-decoration: none;
}

#beside {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

#comment {
    height: 50%;
    color: var(--bourg);
    font-family: Candara;
    font-weight: 700;
    margin: 2%;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--tan);
    box-shadow: 2px 2px gray;
}

.home-posts {
    background-color: var(--tan);
    color: var(--red);
    padding: 1%;
    border-radius: 8px;
    width: 90%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 4px 4px rgb(103, 128, 53);
}

#card-header {
    padding: 8px;
    background-color: var(--bourg);
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    border-radius: 8px;    
    color: var(--mustard);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#card-header > p {
    font-weight: 600;
}

#card-body {
    font-size: 18px;
    padding: 8px;
    margin: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: var(--bourg);
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#post-it {
    position: fixed;
    top: 22%;
    right: 2%;
    padding: 24px;
    margin-bottom: 1%;
    font-size: 24px;
    font-family: 'Candara';
    font-weight: 600;
    box-shadow: 2px 2px gray;
    background-color: var(--bourg);
    color: var(--mustard);
    box-shadow: 4px 4px rgb(103, 128, 53);
    border-radius: 8px;
}